<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975757010091-781g0707lspkkdivlek6f2tgpbiav9vl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975757010091-781g0707lspkkdivlek6f2tgpbiav9vl</string>
	<key>API_KEY</key>
	<string>AIzaSyB13sErZsJrgwNkY9Vd2lkjKnkHjHR_Lcw</string>
	<key>GCM_SENDER_ID</key>
	<string>975757010091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevinyou.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-bf31c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-bf31c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975757010091:ios:16e9adac80788c77</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-bf31c.firebaseio.com</string>
</dict>
</plist>